**문자열**

In [ ]:
print("hello world")
print('hello world')
"hello "world""   # 같은 따옴표가 겹치면 문자열로 인식X

SyntaxError: invalid syntax (<ipython-input-1-17851467233c>, line 3)

In [ ]:
# 다른 따옴표를 사용
print("hello 'world'")
print('hello "world"')

hello 'world'
hello "world"

In [ ]:
# 하나의 따옴표로는 열이 다르면 오류 발생
print('hello
world')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-4-7890236983d9>, line 1)

In [ ]:
# 따옴포를 각각 3개씩 사용하여 다른열의 텍스트도 출력 가능
print(
    '''
hello
world
    '''
)

hello
world

문자열의 연산(+*)

In [ ]:
'문자열 더하기' + '문자'

'문자열 더하기문자'

In [ ]:
# 피연산자가 문자열일 경우에만 더하기 가능
'문자열 더하기' + 3

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 문자열과 정수   정수만큼 해당 문자를 반복
"문자열" * '문자'

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
"문자열" * 3

'문자열문자열문자열'

In [ ]:
# 문자열은 리스트화 되어 있어 인덱스를 가짐
text = 'Python Programing'
print(text[0])   # P
print(text[-1])  # g

# 슬라이싱  [startindex : endindex-1]
print(text[0:6])  # Python
print(text[:6])   # Python
print(text[:])    # Python programing
print(text[::1])  # Python programing
print(text[:-1])  # Python programin
print(text[::2])  # 두칸씩
print(text[::-1]) # 역순

P
g
Python
Python
Python Programing
Python Programing
Python Programin
Pto rgaig
gnimargorP nohtyP

In [ ]:
import random
list1 = random.sample(range(1,100),10)
print(list1)
print(list1[5:])

[48, 31, 71, 24, 68, 37, 80, 64, 35, 78]
[37, 80, 64, 35, 78]

 - 함수의 기본개념
    - 이름(매개변수, ...):   --> 매개변수도 필수는 아님
    - 들여쓰기를 해서 내용작성
    - return 반환값 --> 필수는 아님

- 하지만 함수의 모양반드시
    - 이름():
      - 내용
    - 함수의 사용은 해당 함수의 이름을 작성하고 (데이터전달)
    - 결과는 있을수도 없을수도 있다

In [ ]:
# 여기서 text는 단순 변수가 아닌 객체이다
# 그렇기 때문에 변수의 뒤에 .을 붙여 메써드 사용
text = 'hello world'

# 소문자
print(text.lower())
# 대문자
print(text.upper())
# 첫글자만 대분자
print(text.title())
# 첫단어만 대문자
print(text.capitalize())
# 대소문자 변화
print(text.capitalize().swapcase())   # mothod chaining 기법
# 특정 문자(열)의 포함 여부  --> 리스트(숫자등)에도 적용 가능
print('h' in text)
# 분리(기준을 다양하게 적용 공백. ',', '.', '|', ':') -> 분리된 문자열을 리스트로 만들어준다
print(text.split())   # 영어문장은 주로 공백을 기준으로 단어를 분리할 수 있음
print(text.split('l'))   # l을 기준으로 분리 / 괄호안에 분리하고 싶은 패턴을 넣어서 분리

hello world
HELLO WORLD
Hello World
Hello world
hELLO WORLD
True
['hello', 'world']
['he', '', 'o wor', 'd']

공백제거 및 정렬

In [ ]:
text = "   python    "
# **양쪽 공백 제거**  --> 공백으로 인해 컴퓨터가 보기에 다른 텍스트라 생각 할 수 있음
print(text.strip())
# 왼쪽 공백 제거
print(text.lstrip())
# 오른쪽 공백 제거
print(text.rstrip())

python
python
   python

문자열 찾기 및 대체

In [ ]:
text = 'python programing is fun'

# 문자열 위치 찾기 없으면 -1
print(text.find('is'))   # 찾고자 하는 문자의 첫번째 인덱스
print(text.find('fun'))
print(text.find('java'))

# 문자열 대체
print(text.replace('is','are'))
print(text.replace('python', ''))

# 문자열의 개수
print(text.count('p'))

18
21
-1
python programing are fun
 programing is fun
2

문자열 분리 및 합치기

In [ ]:
text = 'apple.banana.grap'
words = text.split('.')
print(words)

# 문자열 합치기
print(" ".join(words))   # 공백을 기준으로 합치기
print("_".join(words))

['apple', 'banana', 'grap']
apple banana grap
apple_banana_grap

표준 입출력 (Standard Input Output)
  - 입력 : 키보드
  - 출력 : 콘솔

In [ ]:
name = input('이름을 입력하세요 :')
print('안녕하세요',name+'님')

이름을 입력하세요 :손현성
안녕하세요 손현성님

map : 리스트와 같은 집합을 이루는 데이터들의 각각의 값에 특정 기능을 적용

In [ ]:
list1 = ['1','2','3']
map(int, list1)

In [ ]:
list1 = ['1','2','3']
print(list(map(int, list1)))
a,b,c = map(int, list1)
print(a,b,c)

[1, 2, 3]
1 2 3

In [ ]:
number1, number2 = map(int, input('두개의 정수를 띄어쓰기 해서 입력하세요').split())
print(number1+number2)

두개의 정수를 띄어쓰기 해서 입력하세요1 2
3

zip (두개의 묶음을 각각 묶어준다)

In [ ]:
fruites = ['apple','banana','mango']
prices = [500,700,1000]
print(list(zip(fruites, prices)))

[('apple', 500), ('banana', 700), ('mango', 1000)]

Question

In [ ]:
text = 'hello world'
fined_index = text.find('e')
print(fined_index)
text_list = [text[:fined_index+1], text[fined_index+1:]]

# 조인을 이용해서 리스트 결합
print(' '.join(text_list))

1
he llo world

In [ ]:
text = '   p  y  t  h  o     n        '
text_list = text.split()
''.join(text_list)

'python'

- 출력형식 지정하기

In [ ]:
# 사용자한테 이름과 나이를 입력받아서 '공백을 기준으로 한번에 입력'
# 이름과 나이를 입력하세요 -> 손현성 28
# 출력 손현성님 반갑습니다. 당신의 나이는 28입니다
# name age
name, age = '손현성', 28
result = name+'님 반갑습니다. 당신의 나이는 ' + str(age) + '살 입니다.'
print(result)

손현성님 반갑습니다. 당신의 나이는 28살 입니다.

In [ ]:
result = f'{name}님 반갑습니다. 당신의 나이는 {age}살 입니다'
print(result)

손현성님 반갑습니다. 당신의 나이는 28살 입니다

숫자포멧팅

In [ ]:
num = 123.456789
print(f'소수점 둘째 자리까지 {num:.2f}')
print(f'전체10자리, 우측정렬 {num:10.2f}')
print(f'전체10자리, 좌측정렬 {num:<10.2f}')

소수점 둘째 자리까지 123.46
전체10자리, 우측정렬     123.46
전체10자리, 좌측정렬 123.46

In [ ]:
# 사용자로부터 이름과 나이를 입력받아서
# f-string을 이용해서 출력하기

name = input('이름을 입력하세요')
age = int(input('나이를 입력하세요'))
print(f'{name}님 반갑습니다. 당신의 나이는 {age}살 입니다.')

이름을 입력하세요손현성
나이를 입력하세요28
손현성님 반갑습니다. 당신의 나이는 28살 입니다.

In [ ]:
name, age = input('이름과 나이를 입력하세요').split()
print(f'{name}님 반갑습니다. 당신의 나이는 {age}살 입니다.')

이름과 나이를 입력하세요홍길도 20
홍길도님 반갑습니다. 당신의 나이는 20살 입니다.

In [ ]:
num1, num2 = map(int,input('두 수를 입력하세요').split())
print('두수 더하기 :', nu1+num2)
print('두수 빼기 :', nu1-num2)
print('두수 곱하기 :', nu1*num2)
print('두수 나누기 :', nu1/num2)

두 수를 입력하세요10 5
두수 더하기 : 15
두수 빼기 : 5
두수 곱하기 : 50
두수 나누기 : 2.0

- 입출력을 파일을 대상으로 변경
  - 파일 읽고 쓰기
  - 파일을 읽기위해서 파일object(객체)
  - 파일객체를 이용해서 읽고 쓰기 작업
  - 끝이면 open한 파일 객체를 close해야 함

- 이 모든 과정을 with open(파일명, 모드) as 파일객체명 사용한다

In [ ]:
# 파일 쓰기
with open('example.txt', 'w') as f:
  f.write('hello world')

In [ ]:
# 파일 읽기
with open('example.txt', 'r') as f:
  print(f.read())

hello world

문자열 심화

In [ ]:
# 문자열을 리스트로 변환
text = 'hello world'
char_list = list(text)
print(char_list)

# w-> M hello Morld
char_list[6]='M'
print(char_list)
''.join(char_list)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
['h', 'e', 'l', 'l', 'o', ' ', 'M', 'o', 'r', 'l', 'd']

'hello Morld'

In [ ]:
import string
print(string.ascii_letters)  # 알파벳
print(string.punctuation)   # 특수기호 문자
print(string.digits)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

In [ ]:
# 랜덤하게 알파벳 문자열 생성 문자열의 길이는 5개
import random
alist = random.choices(string.ascii_letters, k=5)
print(''.join(alist))

JKYNW

In [ ]:
# string.digits을 이용해서 임의의 4자리 정수를 만들어라

alist = random.choices(string.digits, k=4)
result = int(''.join(alist))
print(result, type(result))

6666 <class 'int'>

1. 주어진 문자열의 뒤집기
  - hello world ==> dlrow olleh
2. 주어진 문자열의 단어단위로 뒤집기
  - hello world ==> world hello

In [ ]:
text = 'hello world'
print(text[::-1])
print(text[6:]+' '+text[:6])
text_list = text.split()
print(text_list[1]+' '+text_list[0])
print(' '.join(text_list[::-1]))

dlrow olleh
world hello
world hello
world hello

가장 긴 단어 찾기

In [ ]:
text = '''The emergency appeal marks the first time Trump’s \
efforts to drastically remake the federal government reached the nation’s highest court'''

print(f'원본 텍스트 : {text}')

text_list = text.split()
print(f'텍스트 분리 : {text_list}')

text_len_list = list(map(len, text_list))
print(f'분리된 텍스트의 길이 : {text_len_list}')

max_len = max(text_len_list)
print(f'가징 긴 텍스트 길이 : {max_len}')

print(f'가장 긴 단어의 인덱스 : {text_len_list.index(max_len)}')

max_len_word = text_list[text_len_list.index(max_len)]
print(f'가징 긴 단어 : {max_len_word}')

원본 텍스트 : The emergency appeal marks the first time Trump’s efforts to drastically remake the federal government reached the nation’s highest court
텍스트 분리 : ['The', 'emergency', 'appeal', 'marks', 'the', 'first', 'time', 'Trump’s', 'efforts', 'to', 'drastically', 'remake', 'the', 'federal', 'government', 'reached', 'the', 'nation’s', 'highest', 'court']
분리된 텍스트의 길이 : [3, 9, 6, 5, 3, 5, 4, 7, 7, 2, 11, 6, 3, 7, 10, 7, 3, 8, 7, 5]
가징 긴 텍스트 길이 : 11
가장 긴 단어의 인덱스 : 10
가징 긴 단어 : drastically

정렬

In [ ]:
text = 'hello'
print(sorted(text, reverse=True))   # 모든 정렬의 기본은 오름차순 ascending asc

sorted_text = sorted(text)
print(sorted_text[::-1])

['o', 'l', 'l', 'h', 'e']
['o', 'l', 'l', 'h', 'e']

In [ ]:
import random
# 랜덤하게 정수 10개를 리스트르에 저장하고 출력
# 오름차순으로 정렬
# 내림차순으로 정렬
random_data = random.sample(range(1,100), 10)
print(f'오름차순으로 정렬 : {sorted(random_data, reverse=False)}')
print(f'내림차순으로 정렬 : {sorted(random_data)[::-1]}')

오름차순으로 정렬 : [7, 14, 31, 42, 48, 55, 57, 87, 96, 98]
내림차순으로 정렬 : [98, 96, 87, 57, 55, 48, 42, 31, 14, 7]

Counter모듈 사용해 보기

In [ ]:
# 모듈
from collections import Counter
# Counter() 리스트(문자열 포함)의 각 요소의 등장 횟수를 계산해주는 기능
random_list = [1,1,2,2,2,3,4]
Counter(random_list)

Counter({1: 2, 2: 3, 3: 1, 4: 1})

In [ ]:
text = '파이썬은 쉽고 재미있습니다. 파이썬은 인공지능에 잘 어울립니다. 파이썬은 다양한 모듈을 지원합니다.'
text_split = text.split()
print(Counter(text_split))

Counter({'파이썬은': 3, '쉽고': 1, '재미있습니다.': 1, '인공지능에': 1, '잘': 1, '어울립니다.': 1, '다양한': 1, '모듈을': 1, '지원합니다.': 1})

In [ ]:
# 사용자로부터 입력을 받아서 단어 빈도수를 계산 input
input_text = input('하고 싶은 말 없어?')
input_text_split = input_text.split()
print(input_text_split)
Counter(input_text_split)

하고 싶은 말 없어?없어 없어 진짜 없어요
['없어', '없어', '진짜', '없어요']

Counter({'없어': 2, '진짜': 1, '없어요': 1})

영어는 대략 공백을 기준으로 문자열을 분리하면 대부분 단어 형태로 분리가 잘 되는 편..
  - 영어 기사를 txt 파일로 저장하고 해당 파일의 내용을 읽어서 단어의 빈도수를 조사해보자
  - 빈도수가 상위 10개의 단어를 출력

In [ ]:
# CNN기사 txt파일 불러오기
file_path = '/content/drive/MyDrive/CNN_NEWS_1.txt'
with open(file_path, 'r')as f:
  text = f.read()

  # 문자열 중에 불필요한 단어를 제거 replace (반복문 사용X)
text = text.replace('the','').replace('and','').replace('to','').replace('that','').replace('on','').replace('for','').replace('of','') \
.replace('his','').replace('the','').replace('not','').replace('with','').replace('he','').replace('as','').replace('a','')
text_lists = text.split()
text_counts = Counter(text_lists)
print(text_counts)
# stopword_list = ['the','a','to','that','on','as','for','']

Counter({'Strmer': 6, 'security': 4, 'US': 3, 'gurntees': 3, 'pece': 3, 'in': 2, 'Trump': 2, 'President': 2, 'Ukrine': 2, 'Trump,': 2, 'more': 2, 'greement': 2, '“I’m': 2, 'going': 2, 'Europe': 2, 'we': 2, 'need': 2, 'A': 1, 'bust': 1, 'Winsn': 1, 'Churchill': 1, 'will': 1, 'gze': 1, 't': 1, 'Keir': 1, 'Thursdy': 1, 'executes': 1, 'e': 1, 'trickiest': 1, 'visits': 1, 'by': 1, 'British': 1, 'Prime': 1, 'Minister': 1, 'president': 1, 'since': 1, 'dys': 1, 'gret': 1, 'World': 1, 'Wr': 1, 'II': 1, 'leder.': 1, 'h': 1, 'criticl': 1, 'missi': 1, 'Ovl': 1, 'Office': 1, '—': 1, 'peel': 1, 'Dld': 1, 'wy': 1, 'from': 1, 'Russin': 1, 'Vldimir': 1, 'Putin,': 1, 'extrct': 1, 'following': 1, 'n': 1, 'eventul': 1, 'del': 1, 'sve': 1, 'trnstlntic': 1, 'llince.': 1, 'His': 1, 'chnces': 1, 'success': 1, 'seem': 1, 'slim.': 1, 'French': 1, 'Emmnuel': 1, 'Mcr': 1, 'visited': 1, 'Whingn': 1, 'similr': 1, 'quest': 1, 'Mdy': 1, ',': 1, 'despite': 1, 'rekindling': 1, 'bromnce': 1, 'got': 1, 'no': 1, 'ccrete': 1, 'surnces.': 1, 'T': 1, 'tk': 1, 'bee': 1, 'tciturn': 1, 'becme': 1, 'even': 1, 'complex': 1, 'flew': 1, 'over': 1, 'Atlntic': 1, 'Wednesdy.': 1, 'first': 1, 'Cbinet': 1, 'meeting': 1, 'new': 1, 'term,': 1, 'dismissed': 1, 'ide': 1, 'robust': 1, 'sees': 1, 'vitl': 1, 'ensuring': 1, 'ny': 1, 'cn': 1, 'endure.': 1, 'mke': 1, 'beyd': 1, 'very': 1, 'much.': 1, 'We’re': 1, 'hve': 1, 'do': 1, '…': 1, 'is': 1, 'ir': 1, 'next-door': 1, 'neighbor,”': 1, 'sid.': 1, 'But': 1, 'plne,': 1, 'rgued': 1, 'would': 1, 'be': 1, 'vible': 1, 'out': 1, 'such': 1, 'pledge.': 1, 'bsolutely': 1, 'cvinced': 1, 'lting': 1, 'pece,': 1, 'ceefire,': 1, 'hppen': 1, 'gurntees,”': 1, 'ld': 1, 'reporters,': 1, 'ccording': 1, 'Reuters.': 1})

- 정리
    - 문자열 : 문자들의 집합 - 리슽
    - 다양한 문자열 처리 함수
    - 슬라이싱
    - 인덱스
    - 파일 입출력

In [ ]:
# 문자열은 상수취급 immutable

str_1 = 'hello'
str_2 = str_1
str_2[0]='m'

TypeError: 'str' object does not support item assignment

In [ ]:
num1 = 100
num2 = num1  # 100이라는 값을 num2에 저장한게 아니라 num1의 주소를 저장
num2 = 111
print(num1)

# 리스트와 같이 집합성을 가지는 데이터는 값을 복사X
str1 = list('hello')
str2 = str1   # 얕은 복사
str2[0] = 'H'
print(str1)

str1 = list('hello')
str2 = str1.copy()   # str2 = str1[:]  깊은 복사
str2[0] = 'H'
print(str1)

100
['H', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']

In [ ]:
import copy
list1 = [1, 2, 3]
list2 = copy.deepcopy(list1)
list2[0] = 100
print(list1) # 출력: [1, 2, 3]

[1, 2, 3]

조건문 : 조건에 따라 코드를 실행하는 하나의 명령문
  - if
  - if ~ else
  - if ~ else ~ elif

In [ ]:
if False:
  print('합격입니다!')
print('불학격입니다') # if가 false여서 if문 밖의 코드만 실행

불학격입니다

In [ ]:
# True니까 위에만 출력
if True:
  print('합격입니다')
  else:
  print('불합격입니다')

In [ ]:
score= 85

if score >= 90:
  print('A')
elif score >=80:
  print('B')
elif score >=70:
  print('C')
elif score >=60:
  print('D')
else:
  print('F')

B

In [ ]:
check1, check2, cheak3 = False, True, True
if (check1 or check2) and (check1 and check2):
  print('검사를 통과 했습니다.')

In [ ]:
# 국 영 수 과목의 점수를 공백으로 이용해서 입력해주세요
# 평균이 60 이상이면서 각 과목의 점수가 40점 이상일때만 합격이고 나머지는 불합격 --> 과락
score = list(map(int,input("국 영 수 과목의 점수를 공백으로 이용해서 입력해주세요").split()))
score
avg = sum(score)/3
if (avg >= 60) and (score[0] >=40) and (score[1] >=40) and (score[2] >=40):
  print("합격!!!")
else:
  print("불합격!!!")

국 영 수 과목의 점수를 공백으로 이용해서 입력해주세요60 60 60
합격!!!

비교구문 < <= > >= == !=

In [ ]:
a = 10
b = a
print(a == b)
print(a != b)
print(a > 10)
print(a >= 10)
print(a < 10)
print(a <= 10)
print(not (a<=0))   # 'a는 0보다 작거나 같다'를 부정한것 이므로 결과적으로 'a는 0보다 크다'가 된다
print(not (a <= 0) and (b > 10))   # (a > 0) or (b <= 10) 와 같다

True
False
False
True
False
True
True

In [ ]:
'''
율리우스력의 윤년 추가 규칙은 다음과 같다. 이에 따라 1년은 365.25일이 된다.
4로 나누어 떨어지는 해는 윤년, 그 밖의 해는 평년으로 한다.
(year % 4 ==0)

그레고리력은 다음과 같은 예외 규칙을 추가하였다. 이에 따라 1년은 365.2425일이 된다.
100으로 나누어 떨어지되 400으로 나누어 떨어지지 않는 해는 평년으로 한다.(즉 100의 배수 중 400의 배수면 윤년이고 아니면 평년. ex) 1600(윤), 1700(평), 1800(평), 1900(평), 2000(윤), 2100(평), ...)
not((year % 100 == 0) or (year % 400 != 0))

가령 400으로 나누어 떨어지는 2000년은 그레고리력으로 윤년이지만, 100으로는 나누어 떨어지되 400으로는 나누어 떨어지지 않는 1900년은 평년이다. 물론 율리우스력으로는 1900년이든 2000년이든 모두 윤년이다.

현재 사실상 세계표준력으로 사용되는 그레고리력에 따라 논리적으로 정리해보면 {4의 배수에서 (100의 배수가 아닌 수) 또는 (400의 배수)}인 해가 윤년이 된다.
'''

print(15/2)   # 나누기 연산
print(15//2)  # 몫
print(15%2)   # 나머지 연산자

year = int(input("년도를 입력하세요"))
if (year % 4 == 0) or (year & 100 != 0) and (year & 400 == 0):
  print('윤년')
else:
  print('평년')

7.5
7
1
년도를 입력하세요2020
윤년

숨겨진 출력 표시

In [ ]:
# 조건문
  # 조건문:
    #조건문 : 3 depth 넘어가는 경우는 다시 재고할것

In [ ]:
x = 10
if x > 0 and x < 10:
  print("0과 10 사이 값입니다.")
else:
  print('0보다 작거나 같고 10 크거나 같다?')

if 0 < x < 10:
  print("0과 10 사이 값입니다.")
else:
  print('0이상 10이하의 값입니다')

0보다 작거나 같고 10 크거나 같다?
0이상 10이하의 값입니다

In [ ]:
# 나이를 입력 받아서
# 20살 이상이면 성인
# 14살 이상이면 청소년 (14~19)
# 14미만 어린이

# 입장료가 기본 20000
# 성인 20000 출력
# 청소년 할인은 20% 할인가격
# 어린이 80% 할인가격 출력

# 아래 같은 핵심 로직을 비지니스 로직이라 함
price = 20000
age = int(input("나이를 입력해 주세요"))
if age >= 20:
  print(f"성인 입장료 {price}원 입니다")
elif 14 <= age < 20:
  price = int(price*0.8)
  print(f"청소년 입장료는 {price}원 입니다")
else:
  price = int(price*0.2)
  print(f"어린이 입장료는 {price}원 입니다")

나이를 입력해 주세요28
성인 입장료 20000원 입니다