# 딕셔너리
  - 집합형 데이터.. 리스트 튜플 셋
  - 단점 : ['홍길동',20,95,85,80], ['강감찬',25,95,85,80],[25,95,'이순신',85,80] 순서가 바뀔수 있음
  - dict는 key와 value로 이루어진 집합
  - key는 중복이 안됨
  - ex) 주민번호: 이름

In [ ]:
# dataset 이라고도 표현 할 수 있음
# 생성
person = {
    'name' : '철수',
    'age' : 25,
    'kor' : 100,
    'eng' : 98,
    'math' : 95
}
# 불러오기
print(person)

# 값 접근 해당 키값을 index로 해서 접근
print(f"이름 : {person['name']}")

# 수정
person['name'] = '김철수'
print(f"이름 : {person['name']}")

# 데이터 추가
person['sci'] = 100
print(person)

# 데이터 삭제
del person['age']
print(person)

{'name': '철수', 'age': 25, 'kor': 100, 'eng': 98, 'math': 95}
이름 : 철수
이름 : 김철수
{'name': '김철수', 'age': 25, 'kor': 100, 'eng': 98, 'math': 95, 'sci': 100}
{'name': '김철수', 'kor': 100, 'eng': 98, 'math': 95, 'sci': 100}

In [ ]:
# 키 값을 인덱스로 불러오기
print(person['name'])
print(person.get('test', 0))   # 키값(test)가 없을시 0을 반환
print(person['test'])   # 에러발생... test라는 키가 존재하지 않음

김철수
0

KeyError: 'test'

In [ ]:
# dictionary 의 내장함수 get과 유사한 기능의 함수를 구현해 보기
def try_get(dic, key, return_val):
  if key in dic:
    return dic[key]
  else:
    return return_val

print(try_get(person,'job',0))

0

# 주요 메서드(내장함수)
  - 클래스 내부에서 사용하는 함수는 메서드 method 라고 부르며
  - 클래스를 활성화 시키는게 객체인데.. 객체로 호출하는 함수는 메서드이고 형태는
  - 객체.메서드 "".upper()

In [ ]:
# keys()
print(f'keys값들 : {person.keys()}')

# values()
print(f'value들 : {person.values()}')

# 키와 값을 하나의 쌍(튜플)으로
print(f"key and value : {person.items()}")

# pop(키) 키로 값을 제거 후 반환
print(f"name 키 제거 및 제거한 값 반환: {person.pop('name')}")
print(f'person의 전체 값 {person}')

keys값들 : dict_keys(['name', 'kor', 'eng', 'math', 'sci'])
value들 : dict_values(['김철수', 100, 98, 95, 100])
key and value : dict_items([('name', '김철수'), ('kor', 100), ('eng', 98), ('math', 95), ('sci', 100)])
name 키 제거 및 제거한 값 반환: 김철수
person의 전체 값 {'kor': 100, 'eng': 98, 'math': 95, 'sci': 100}

# dictionary 만드는 다양한 방법

In [ ]:
dict1 = {}
dict1['name'] = '홍길동'
dict1['age'] = 25
print(dict1)

{'name': '홍길동', 'age': 25}

In [ ]:
names = ['apple','banana','grap','orange']
price = [100,200,300,400]
dict(zip(names,price))

{'apple': 100, 'banana': 200, 'grap': 300, 'orange': 400}

In [ ]:
names = ['apple','grap','banana','orange', 'apple']
price = [100,200,300,400,10000]
print(dict(zip(names,price)))   # key가 중복되면 마지막 key의 value를 저장

result = {}
for i in range(len(names)):
  result[names[i]] = price[i]

print(result)

{'apple': 10000, 'grap': 200, 'banana': 300, 'orange': 400}
{'apple': 10000, 'grap': 200, 'banana': 300, 'orange': 400}

In [ ]:
# enumerate : 순환할때 0부터 시퀸하게 번호를 부여
for index, name in enumerate(names):
  print(index, name)

0 apple
1 grap
2 banana
3 orange
4 apple

In [ ]:
result = {}
for index, name in enumerate(names):
  result[name] = price[index]
print(result)

{'apple': 10000, 'grap': 200, 'banana': 300, 'orange': 400}

In [ ]:
# 알파벳의 개수를 세어 보자
text = 'Zelensky describes Oval Office meeting as ‘regrettable,’ says he is ready to negotiate peace'
import re
text = re.sub('[^a-zA-Z]','',text).lower()
print(text)

# 로직
dic = {}
for c in text:
  if c in dic:
    dic[c] +=1
  else:
    dic[c] = 1
print(dic)

# 함수
count_dic ={}
for c in text:
  count_dic[c] = count_dic.get(c,0) +1
print(count_dic)

zelenskydescribesovalofficemeetingasregrettablesaysheisreadytonegotiatepeace
{'z': 1, 'e': 16, 'l': 3, 'n': 3, 's': 7, 'k': 1, 'y': 3, 'd': 2, 'c': 3, 'r': 4, 'i': 5, 'b': 2, 'o': 4, 'v': 1, 'a': 7, 'f': 2, 'm': 1, 't': 6, 'g': 3, 'h': 1, 'p': 1}
{'z': 1, 'e': 16, 'l': 3, 'n': 3, 's': 7, 'k': 1, 'y': 3, 'd': 2, 'c': 3, 'r': 4, 'i': 5, 'b': 2, 'o': 4, 'v': 1, 'a': 7, 'f': 2, 'm': 1, 't': 6, 'g': 3, 'h': 1, 'p': 1}

In [ ]:
# 정렬 count_dic 내림차순
# 1. key에서 구분할수 있게 정렬대상을 items()를 이용해서 key.value로 구분하고
# 2. key 즉 기준을 람다식으로 표현
print(count_dic.items())
count_dic = sorted(count_dic.items(), key = lambda x: x[1], reverse=True) # value 기준 내림차순
print(count_dic)

dict_items([('z', 1), ('e', 16), ('l', 3), ('n', 3), ('s', 7), ('k', 1), ('y', 3), ('d', 2), ('c', 3), ('r', 4), ('i', 5), ('b', 2), ('o', 4), ('v', 1), ('a', 7), ('f', 2), ('m', 1), ('t', 6), ('g', 3), ('h', 1), ('p', 1)])
[('e', 16), ('s', 7), ('a', 7), ('t', 6), ('i', 5), ('r', 4), ('o', 4), ('l', 3), ('n', 3), ('y', 3), ('c', 3), ('g', 3), ('d', 2), ('b', 2), ('f', 2), ('z', 1), ('k', 1), ('v', 1), ('m', 1), ('h', 1), ('p', 1)]

In [ ]:
# 학생에 대한 정보
student1 = {
    'name' : '홍길동',
    'age' : 30,
    'score' : {'kor': 60, 'eng' : 70, 'math' : 90}
}
print(student)

student2 = {
    'name' : '이순신',
    'age' : 25,
    'score' : {'kor': 90, 'eng' : 80, 'math' : 70}
}
print(student2)

my_class = [student1, student2]
print(my_class)

{'name': '홍길동', 'age': 20, 'score': {'kor': 100, 'eng': 100, 'math': 100}}
{'name': '이순신', 'age': 25, 'score': {'kor': 90, 'eng': 80, 'math': 70}}
[{'name': '홍길동', 'age': 30, 'score': {'kor': 60, 'eng': 70, 'math': 90}}, {'name': '이순신', 'age': 25, 'score': {'kor': 90, 'eng': 80, 'math': 70}}]

In [ ]:
print(sorted(my_class, key = lambda x:x['age'] ))   # age를 기준으로 오름차순
print(sorted(my_class, key = lambda x:x['score']['kor'] ))   # kor을 기준으로 오름차순

[{'name': '이순신', 'age': 25, 'score': {'kor': 90, 'eng': 80, 'math': 70}}, {'name': '홍길동', 'age': 30, 'score': {'kor': 60, 'eng': 70, 'math': 90}}]
[{'name': '홍길동', 'age': 30, 'score': {'kor': 60, 'eng': 70, 'math': 90}}, {'name': '이순신', 'age': 25, 'score': {'kor': 90, 'eng': 80, 'math': 70}}]

In [ ]:
print(sorted(my_class, key = lambda x:sum(x['score'].values()), reverse=True))   # socre의 총합을 기준으로 내림차순

[{'name': '이순신', 'age': 25, 'score': {'kor': 90, 'eng': 80, 'math': 70}}, {'name': '홍길동', 'age': 30, 'score': {'kor': 60, 'eng': 70, 'math': 90}}]

In [ ]:
cadidate = ['A','B','C','D','E']
votes = []

for i in range(10):
  choice = int(input('"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :'))
  votes.append(choice)

print('투표가 끝났습니다.')
# 개표... dictionary 구조를 이용해서 각 후보자의 번호별 횟수를 구해서
# 가장 많은 득표에 해당하는 candidate의 값을 출력

# counting
dic ={}
for num in votes:
  dic[num] = dic.get(num, 0) + 1

# 가장 많은 투표 값
max_value = max(dic.values())

# 첫번째 리스트 컴프리헨션 : 카운팅한 값인 dic에서 가장 많은 투표를 받은 인덱스로 저장
# 두번째 리스트 컴프리헨션 : 추출한 인덱스의 cadiate를 저장
winner = [cadidate[i] for i in [k for k,v in dic.items() if v ==max_value]]
print(winner)

"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :0
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :0
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :1
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :1
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :2
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :2
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :3
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :3
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :4
"A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 :4
투표가 끝났습니다.
['A', 'B', 'C', 'D', 'E']

In [ ]:
votes = [1,1,2,3,1,4,1,1,4,0]
dic ={}
for num in votes:
  dic[num] = dic.get(num, 0) + 1
print(dic)

dic ={}
for num in votes:
  dic[num] = dic.get(num, 0) + 1

result = sorted(dic.items() ,key = lambda x:x[1], reverse=True)
print(result)

{1: 5, 2: 1, 3: 1, 4: 2, 0: 1}
[(1, 5), (4, 2), (2, 1), (3, 1), (0, 1)]

# 키워드 가변 매개 변수1

In [ ]:
def my_func1(data, epoch, lr, optimizer):
  print(f'data : {data}, epoch : {epoch}, lr : {lr}, optimizer : {optimizer}')

In [ ]:
# 함수 호출
my_func1([1,2,3,4],5,0.01, 'adam')   # 순서에 맞춰야 함
my_func1(data=[1,2,3,4], epoch=5, lr=0.01, optimizer='adam')   # 순서에 맞출 필요없음

data : [1, 2, 3, 4], epoch : 5, lr : 0.01, optimizer : adam
data : [1, 2, 3, 4], epoch : 5, lr : 0.01, optimizer : adam

In [ ]:
args = {
    'data' : [1,2,3,4],
    'epoch' : 5,
    'lr' : 0.01,
    'optimizer': 'adam'
}
# unpack으로 함수에 전달
my_func1(**args)

data : [1, 2, 3, 4], epoch : 5, lr : 0.01, optimizer : adam

In [ ]:
def my_func2(data,x,y):
  print(f'data:{data}, x:{x}, y:{y}')

my_func2([1,2,3], 10, 10)

data:[1, 2, 3], x:10, y:10

In [ ]:
# 함수를 호출할 때 *을 넣으면 넣은 값을 풀어서 보내고
args = [
    [1,2,3],
    10,
    10
 ]
 # unpack
my_func2(*args)

data:[1, 2, 3], x:10, y:10

In [ ]:
# 함수에 *이 있으면 들어온 값을 묶어서 받고
def my_func3(*args):
  for arg in args:
    print(f'전달된 파라메터는 : {arg}')

my_func3(10,20,30,40,50)

전달된 파라메터는 : 10
전달된 파라메터는 : 20
전달된 파라메터는 : 30
전달된 파라메터는 : 40
전달된 파라메터는 : 50

In [ ]:
# **은 딕셔너리 형태
def my_func4(**args):
  for key,value in args.items():
    print(f'key:{key},value:{value}')

my_func4(a=1,b=2,c=3)

key:a,value:1
key:b,value:2
key:c,value:3

# 가변매개변수와 키워드 가변매개변수를 혼용해서 사용

In [ ]:
def my_func5(*items, **details):
  print(f'아이템:{items}')
  for key, val in details.items():
    print(f'key:{key}, value:{val}')

my_func5('물풍선','자석', title='카트라이더', score=152345)

아이템:('물풍선', '자석')
key:title, value:카트라이더
key:score, value:152345

# 리스트 컴프리헨션

In [ ]:
# result = []
# for i in range(5):
#   result.append(i)

result = [i for i in range(5)]

#결과
print(result)

[0, 1, 2, 3, 4]

In [ ]:
# 조건문을 넣을 수 있음
result = [i*5 for i in range(10) if i % 2 == 0]
print(result)

[0, 10, 20, 30, 40]

In [ ]:
# if~else를 쓰려면 if~else문이 for문 앞에 옴
result = ['짝수' if i % 2 == 0 else '홀수' for i in range(10)]
result

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [ ]:
import random
random.randint(1,10)   # 1~9까지의 임의의 숫자 한개
#1~ 99 까지 숫자 중에서 난수를 10개 리스트에 담기
[random.randint(1,100) for i in range(10)]

[34, 50, 62, 74, 22, 76, 29, 26, 2, 93]

In [ ]:
# 문장을 입력받아
# 단어 단위로 리스트로 분리해서 split() 공백기준
# 리스튿에 잇는 각 단어의 리스트에 저장
text = '동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세'
text = text.split()
result = [len(word) for word in text]
print(f'문자열의 각 단어들은 : {text}')
print(f'각 문자열의 길이는 : {result}')

문자열의 각 단어들은 : ['동해물과', '백두산이', '마르고', '닳도록', '하느님이', '보우하사', '우리나라', '만세']
각 문자열의 길이는 : [4, 4, 3, 3, 4, 4, 4, 2]

# 중첩컴프리헨션

In [ ]:
# 2차원 리스트
matrix = [[10,20],[30,20],[20,30],[10,5]]
print(matrix)
[i2 for i in matrix for i2 in i]

[[10, 20], [30, 20], [20, 30], [10, 5]]

[10, 20, 30, 20, 20, 30, 10, 5]

In [ ]:
[[random.randint(1,100) for i in range(2)] for i in range(4)]

[[13, 66], [18, 56], [43, 47], [14, 70]]

# 딕셔너리 컴프리헨션

In [ ]:
sample = [('name','홍길동'),('age',20),('score',95)]
dic = {k:v for k,v in sample}
print(dic)

{'name': '홍길동', 'age': 20, 'score': 95}

In [ ]:
# 딕셔너리는 우리가 아는 테이블 구조를 설명 가능
# python에선 dataframe 만드는데 사용
books_table = []
book1 = {
    'serialnum' : '001',
    'title': '혼자공부하는 파이썬',
    'publisher' : '한빛출판사',
    'author' : '박혜선',
    'price': 15000,
    'rent' : True
}
book2 = {
    'serialnum': '002',
    'title' :'이것이 mysql 이다',
    'publisher' : '한빛출판사',
    'author' : '우재남',
    'price' : 25000,
    'rent' : False
}
books_table =[book1, book2]

In [ ]:
# 도서 검색(책 제목으로 검색)
search = input('제목입력:')
#찾으면 해당 정보를 출력하고 없으면 적당한 메세지 출력
for book in books_table:
  if book['title'] == search:
    if book['rent'] == False:
      print('해당 책은 도서관에 있습니다.')
    elif books_table[i]['rent'] == True:
      print('해당 책은 대출 되어 도서관에 없습니다.')
      break
  else:
    print('해당 책은 도서목록에 없습니다.')
    break

제목입력:gfwefwe
해당 책은 도서목록에 없습니다.

In [ ]:
find_book = [book for book in books_table if search in book['title']]
find_book

[{'serialnum': '001',
  'title': '혼자공부하는 파이썬',
  'publisher': '한빛출판사',
  'author': '박혜선',
  'price': 15000,
  'rent': True}]

In [ ]:
# 도서관 책 목록에 추가
while True:
  title = input('추가하실 책 제목을 작성해주세요')
  publisher = input('추가하실 책 출판사를 작성해주세요')
  author = input('추가하실 책 저자를 작성해주세요')
  price = input(input('추가하실 책 가격을 작성해주세요'))
  last_serialnum = int(books_table[-1]['seriainum'])
  book_data = {
      'serialnum' : '00',
     'title': title,
     'publisher' : publisher,
     'author' : author,
     'price': price,
     'rent' : False
  }

# 정리1
  - 딕셔너리
  - 키워드 가변 매개변수
  - 리스트 컴프리핸션
    - 결과 => 리스트
    - 결과 => 딕셔너리

In [ ]:
# 원하는 형태의 dictionary를 만들어본다
dic1 = {
    'name' : '홍길동',
    'age' : 20
}

# 사용자가 '홍길동 20' 입력이 들어오면 input
# data변수에다가 키워드는 name age로 해서 저장
# for i in range(5)
# 입력이 끝나면 출력

dic_list = []
for i in range(5):
  name,age = input("이름과 나이를 '홍길동 20' 형태로 입력하시오").split()
  dic = {'name' : name, 'age' : int(age)}
  dic_list.append(dic)

print(dic_list)

이름과 나이를 '홍길동 20' 형태로 입력하시오홍길동 20
이름과 나이를 '홍길동 20' 형태로 입력하시오엄복동 10
이름과 나이를 '홍길동 20' 형태로 입력하시오킬방원 30
이름과 나이를 '홍길동 20' 형태로 입력하시오킹세종 40
이름과 나이를 '홍길동 20' 형태로 입력하시오고길동 50
[{'name': '홍길동', 'age': 20}, {'name': '엄복동', 'age': 10}, {'name': '킬방원', 'age': 30}, {'name': '킹세종', 'age': 40}, {'name': '고길동', 'age': 50}]

In [ ]:
# 나이가 적은순으로 데이터를 정렬 출력 오름차순
# 리스트에 있는 딕셔너리중에 키값이 age를 기준으로 리스트 정렬
# 나이가 갖아 많은 사람 이름을 전부 출력(동률을 고려)

dic_list = sorted(dic_list, key= lambda x: x['age'])

# 나이가 가장 많은 사람 이름을 전부 출력
# 리스트의 딕셔너리중에 age 의 값이 가장 큰 값을 찾아서 max_age
# 다시 리스트의 딕셔너리를 순환한 값이 max_age와 같은 name을 출력

max_age = max(dic_list, key=lambda x:x['age'])['age']
old_list = [dic['name'] for dic in dic_list if dic['age'] == max_age]
print(old_list)

['고길동']

In [ ]:
a ={}
def modify(x):
  x[0] = 100
  x[1] = 100
  return x

print(a)
modify(a)
print(a)

{}
{0: 100, 1: 100}

In [ ]:
# 단일 데이터가 아닌 집합을 나타내는 변수는 내부에 해당 주소를 가지고 있음
# 주소값이 전달되기때문에 내부에서 실행결과가 함수 실행도중에 반영됨
def getData1(datas_list):
  for i in range(1):
    data = input('이름 과 나이를 입력하세요:').split()
    datas = {}
    datas={}
    datas['name'] = data[0]
    datas['age'] = int(data[1])
    datas_list.append(datas)

temp =[] # 리스트 변수 생성
getData1(temp) # 함수에 리스트 변수에 있는 값(리스트의 주소)을 복사해서 전달
print(temp) # 함수를 실행하고 나면 주소값을 이용한 데이터가 변경되었기 때문에 리턴 없어도 데이터가 반영

이름 과 나이를 입력하세요:내이름 25
[{'name': '내이름', 'age': 25}]

In [ ]:
def getData2():
  datas_list = []  # 함수내부에서 지역변수로 리스트를 생성
  for i in range(1): # 해당 리스트에 데이터를 추가
    data = input('이름과 나이를 입력하세요 :').split()  # [ '홍길동', '20' ]
    datas = {}
    datas['name'] = data[0]
    datas['age'] = int(data[1])
    datas_list.append(datas)
  return datas_list  # 지역변수이고 함수실행이 끝나면 사라지므로 값을반환한다

temp = getData2()  # 함수 실행후 반환되는 리스트의 값을 받는다
print(temp)

이름과 나이를 입력하세요 :너이름 28
[{'name': '너이름', 'age': 28}]

In [ ]:
temp = [10,20,30,40]
temp_list = [
    {'items': ['a',{'score':temp},'c']},
     {'power':100}
    ]
print(f'변경전: {temp_list}')
# 30에 접근하라면
# print(temp_list[0]['items'][1]['score'][2])

temp[2] =100
print(f'변경후 : {temp_list}')

변경전: [{'items': ['a', {'score': [10, 20, 30, 40]}, 'c']}, {'power': 100}]
변경후 : [{'items': ['a', {'score': [10, 20, 100, 40]}, 'c']}, {'power': 100}]

# 데코레이터 decorator : java 의 추상화 비슷 한 개념
  - 함수나 메소드를 감싸서 추가적인 기능을 제공
  - 기존 코드를 수정하지 않고 동작을 확장 시킬 수 있음
  - 고차원 함수 : 다른 함수를 인자로 받아서 새로운 함수를 반환
  - @데코레이터_이름 을 함수 정의 부분 위에 선언함

In [ ]:
def decorator(func):  # 매개변수로 함수가 전달
  def wrapper():
    print('함수 실행전')
    func()
    print('함수 실행후')
  return wrapper

def say_hello():  # 매개변수로 전달할 함수를 생성
  print('hello')

myfunc = decorator(say_hello)
myfunc()

# say_hello()

함수 실행전
hello
함수 실행후

In [ ]:
def decorator(func):  # 매개변수로 함수가 전달
  def wrapper():
    print('함수 실행전')
    func()
    print('함수 실행후')
  return wrapper

@decorator
def say_hello():  # 매개변수로 전달할 함수를 생성
  print('hello')

# myfunc = decorator(say_hello)
# myfunc()

say_hello()

함수 실행전
hello
함수 실행후

In [ ]:
def log_decorator(func):
  def wrapper(*args, **kwargs):   # 모든 종류의 인자를 처리함
     print(f'{func.__name__} 호출 args:{args}, kwargs:{kwargs}')
     result = func(*args, **kwargs)
     return result
  return wrapper


@log_decorator
def add(a,b):
  return a+b

@log_decorator
def minus(a,b):
  return a-b

@log_decorator
def makeString(name,age):
  return name + str(age)

print(add(10,20))
print(minus(10,20))
print(makeString('홍길동',age=80))

add 호출 args:(10, 20), kwargs:{}
30
minus 호출 args:(10, 20), kwargs:{}
-10
makeString 호출 args:('홍길동',), kwargs:{'age': 80}
홍길동80

# 정리 2
  - 딕셔너리
  - 키워드 가변 매개변수
    - packing /unpacking
  - 리스트 컴프리핸션
  - 데코레이션

In [ ]:
# 성적 관리 시스템
# 학생데이터를 딕셔너리로 관리
# 키워드 가변 매개변수로 입력을 처리
# packing / unpacking을 이용해서 데이터를 구조화
# 리스트컴프리헨션을 이용해서 데이터 변화 및 필터링

# 학생데이터를 딕셔너리로 정리
import random
students=[]
name_list=['홍길동','이철수','김영희']
for name in name_list:
  scores = random.sample(range(60,101),3)
  scores_dic = {'kor':scores[0], 'eng':scores[1], 'math':scores[2]}
  dic = {'name': name, 'scores': scores_dic}
  students.append(dic)
print(students)

[{'name': '홍길동', 'scores': {'kor': 82, 'eng': 75, 'math': 83}}, {'name': '이철수', 'scores': {'kor': 87, 'eng': 72, 'math': 63}}, {'name': '김영희', 'scores': {'kor': 88, 'eng': 87, 'math': 83}}]

In [ ]:
# 학생 데이터 생성 함수 : 파라미터를 이름, 과목별 성적
def create_data(name, **scores):
  return {'name':name, 'scores':scores}

# 성적 추가 함수 : 파라미터를 이름, 과목별 성적
def data_insert(name, **scores):
  data = create_data(name, **scores)
  students.append(data)

#students = []
# student_data = create_data('엄복동', kor=60, eng=70, math=80)
# students.append(student_data)
# print(students)

# data_insert('고길동', kor=90, eng=60, math=80)
# print(students)

In [ ]:
data_insert('고길동', kor=90, eng=60, math=80)
print(students)

[{'name': '홍길동', 'scores': {'kor': 82, 'eng': 75, 'math': 83}}, {'name': '이철수', 'scores': {'kor': 87, 'eng': 72, 'math': 63}}, {'name': '김영희', 'scores': {'kor': 88, 'eng': 87, 'math': 83}}, {'name': '고길동', 'scores': {'kor': 90, 'eng': 60, 'math': 80}}]

In [ ]:
# 전체 학생수, 최고 평균 몇점 누구 인지, 평균이 높은 학생 두명
def student_score_info(students:list):
  data_len = len(students)   # 전체 학생수
  names = [data['name'] for data in students]   # 전체 학생이름 리스트
  mean_scores = [round(sum(data['scores'].values())/3, 2) for data in students]   # 전체 학생 평균 리스트
  mean_dic = {names[i]:mean_scores[i] for i in range(len(names))}   # 이름:평균 딕셔너리
  max_mean_score = max(mean_dic.items(), key=lambda x:x[1])   # 가장 높은 평균 점수
  sort_mean_dic = sorted(mean_dic.items(), key=lambda x:x[1], reverse=True)   # 평균이 높은 순으로 내림차순
  best_2 = sort_mean_dic[:2]    # 상위 2명
  print(f'전체 학생수 : {data_len}명, 최고 평균 득점자 : {max_mean_score}, 평균 상위 2인 : {best_2}')

In [ ]:
student_score_info(students)

전체 학생수 : 4명, 최고 평균 득점자 : ('김영희', 86.0), 평균 상위 2인 : [('김영희', 86.0), ('홍길동', 80.0)]